.mainTableRow{
    background-color: white;
    border-radius: 20px;
    width: 85%;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px
}

.nameText{
    margin-left:130px; 
    position:absolute;
}

.nameTextField{
    margin-left:130px; 
    position:absolute;
}