.MainTableRow{
    background-color: white;
    border-radius: 20px;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 85%;
}

.NameText_display_inline{
    display: inline;
    margin-left:130px; 
    position: absolute;
}

.NameText_display_none{
    display: none;
    margin-left:130px; 
    position:absolute;
}

.RowButton{
    display: inline;
    margin-left: 700px;
    position: absolute;
}

.RowCheckbox{
    display: inline;
    margin-left: 420px; 
    position: absolute;
}