.addButton{
    margin-top: 80px;
}


.mainTable{
    margin: auto;
    margin-top: 40px;
    width: 60%;
    border: 5px solid whitesmoke;
    border-radius: 50px;
    background-color: whitesmoke;
    box-shadow: 1px 1px #888888;
}

.mainTableCategory{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.mainTableHeader{
    border-radius: 20px;
    height: 60px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 85%;
}
