.mainTableRow{
    background-color: white;
    border-radius: 20px;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 85%;
    padding-top: 5px;
}

.nameTextDisplayInline{
    display: inline;
    margin-left:100px; 
    position: absolute;
    margin-top: 2px;
}

.nameTextDisplayNone{
    display: none;
    margin-left:130px; 
    position:absolute;
    padding-top: 8px;
}

.rowButton{
    display: inline;
    margin-left: 700px;
    position: absolute;
}

.rowCheckbox{
    display: inline;
    margin-left: 420px; 
    position: absolute;
    padding-top: 8px;
}
