.mainTableRow{
    background-color: white;
    border-radius: 20px;
    width: 85%;
    height: 40px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px
}

.nameText_display_none{
    margin-left:130px; 
    position:absolute;
    display: none;
}

.nameText_display_inline{
    margin-left:130px; 
    position: absolute;
    display: inline;
}

.rowButton{
    display: inline;
    margin-left: 700px;
    position: absolute;
}

.rowCheckbox{
    display: inline;
    margin-left: 420px; 
    position: absolute;
}